{{ define "body" }}
<main class="container py-9 px-6">
  <div class="flex flex-col items-center">
    <img src="{{ .Params.avatar }}" alt="{{ .Title }}" class="rounded-full h-24 w-24 flex items-center justify-center"/>

    <h1 class="mt-4 mb-6 text-center text-gray-700 font-bold">{{ .Title }}</h1>

    {{ range .Params.links }}
      <a href="{{ .link }}" class="w-full my-2 relative p-0.5 inline-flex items-center justify-center font-bold text-center overflow-hidden group rounded-md">
        <span class="w-full h-full bg-gradient-to-br from-indigo-300 via-purple-400 to-pink-400 group-hover:from-indigo-400 group-hover:via-purple-500 group-hover:to-pink-500 absolute"></span>
        <span class="w-full relative px-6 py-5 transition-all ease-out bg-purple-100 rounded group-hover:bg-opacity-0 duration-400">
          <span class="relative text-indigo-500 group-hover:text-white">{{ .text }}</span>
        </span>
      </a>
    {{ end }}
  </div>
</main>
{{ end }}
