{{ define "body" }}
<main class="container py-9 px-6">
  <div class="flex flex-col items-center">
    <a href="{{ "/" | absLangURL }}">
      <img src="{{ .Params.avatar }}" alt="{{ .Title }}" width="196" height="196" class="rounded-full"/>
    </a>

    <h1 class="mt-4 mb-8 text-center text-blue font-bold">{{ .Title }}</h1>

    {{ range .Params.links }}
      <a href="{{ .link }}" class="w-full my-2 relative p-0.5 inline-flex items-center justify-center font-bold text-center overflow-hidden group rounded-md">
        <span class="w-full h-full bg-gradient-to-br from-blue via-pink to-orange group-hover:from-blue group-hover:via-pink group-hover:to-orange absolute"></span>
        <span class="w-full relative px-6 py-5 transition-all ease-out bg-white rounded group-hover:bg-opacity-0 duration-400">
          <span class="relative text-blue group-hover:text-white">{{ .text }}</span>
        </span>
      </a>
    {{ end }}

    <a href="{{ "/" | absLangURL }}">
      <img src="{{ .Params.footer }}" alt="{{ .Title }}" width="96" height="96" class="mt-6"/>
    </a>
  </div>
</main>
{{ end }}
